/*
@font-face  {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('#{$fontsPath}slick.eot');
    src: url('.#{$fontsPath}slick.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}slick.woff') format('woff'),
        url('#{$fontsPath}slick.ttf') format('truetype'),
        url('#{$fontsPath}#slick') format('svg');
}
*/



html {
    font-size: $baseFontSize;
}

body {
    font-family: $baseFontFamily;
    background-color: #1d1d1d;
    color: #ffffff;
}
.container {
.container-wrapper {
    //max-width: 82%;
    max-width: 1440px;
    margin: 2.8% 9% 5.2% 9%;
}
}

h1 {
    font-weight: $mediumFontWeight;
}
